# Python requirements for executing
ansible
ansible-lint
j2lint
yamllint

# Molecule requirements
molecule
{%- if cookiecutter.molecule == "docker" %}
docker
molecule-plugins[docker]
{%- elif cookiecutter.molecule == "vagrant" %}
molecule-plugins[vagrant]
python-vagrant
{%- endif %}
